
.charts-div{
    display: flex;
    flex-direction: column;
     color: rgb(132, 128, 128);
     font-weight: 500;
    gap: 10%;
    flex: 2;
     -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: .8em;


}