
.widget{
    display: flex;
    flex: 1;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    justify-content: space-between;
    padding: .8em;

    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .5rem;

        :nth-child(1){
            color: rgb(132, 128, 128);
            font-weight: 600;
            font-size: .9rem;
        }

        :nth-child(2){
            font-size: 2rem;
        }

        :nth-child(3){
            color: rgb(132, 128, 128);
            border-bottom: 2px solid darkgray;
            width: max-content;
            font-size: .9rem;
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;

            .icon-2-1,
            .icon-2-2,
            .icon-2-3,
            .icon-2-4{
                border-radius: .3rem;
                padding: .1em;
                font-weight: 700;
            }

            .icon-2-1{
                background-color: rgba(255, 0, 0, 0.1);
                color: crimson;
            }
            .icon-2-2{
                background-color: rgba(218,165,32, 0.2);
                color: goldenrod;
            }
            .icon-2-3{
                background-color: rgba(0, 128, 0, 0.2);
                color: green;
            }
            .icon-2-4{
                background-color: rgba(128, 0, 128, 0.2);
                color: purple;
            }

        .prim{
            display: flex;
            align-items: center;

            :nth-child(1){
                 color: green;
                font-size: 1.2rem;
                font-weight: bold;
            }
            :nth-child(2){
                color: green;
                font-size: .8rem;
                font-weight: 600;
            }
        }
    }
}

@media(max-width:750px){
    .widget{

        .left{

            :nth-child(1){
                font-size: 1.1rem;
            }
            :nth-child(2){
                font-size: 2.2rem;
            }
            :nth-child(3){
                font-size: 1.1rem;
            }
        }

        .right{

            .prim{

                :nth-child(1){
                    font-size: 1.6rem;
                }
                :nth-child(2){
                    font-size: 1.3rem;
                }
            }

            .icon-2-1,
            .icon-2-2,
            .icon-2-3,
            .icon-2-4{
                font-size: 2rem;
            }
        }
    }
}