

.sidebar{
    border-right: 0.3px solid rgb(230, 237,277);
    flex: 1;

    .logo{
        color: lightcoral;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5em;
        font-weight: 700;
        font-size: 1.5rem;
    }

    hr{
        border: 0.1px solid rgb(230, 237,277);

    }

    .listss{
        padding: 0;
        margin: 0;
        
        ul{
            padding: 1em;
            list-style: none;
            align-items: start;
            display: flex;
            flex-direction: column;

            li{
                display: flex;
                align-items: center;
                justify-content: start;
                width: 100%;
                padding: .3em .6em;
                gap: .5rem;
                transition: all .2s;

                &:hover{
                    background-color: rgb(243, 238, 238);
                    font-size: .9rem;

                }

                .icons{
                    color: lightcoral;
                }
            }
            p{
                margin-top: 1em;
                margin-bottom: .2em;
                font-size: .9rem;
                font-weight: 600;
                color: darkgray;
            }
        }
    }
    .themeing{
        display: flex;
        gap: .8rem;
        padding: 1em;

        :nth-child(1){
            height: 2rem;
            width: 2rem;
            background-color: white;
            border: 1px solid lightgray;
            border-radius: .5rem;
            cursor: pointer;
        }
        :nth-child(2){
            height: 2rem;
            width: 2rem;
            background-color: black;
            border: 2px solid lightgray;
            cursor: pointer;
            border-radius: .5rem;
        }
    }
}