
.new{
    display: flex;
    width: 100%;

    .new-cont{
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        flex: 6;

        .id-sec{
            margin: 1em;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: .8em;


            .extra-wrapper{
                display: flex;
                align-items: center;
                gap: .5rem;

                .view{
                    color: purple;
                    background-color: rgba(128, 0, 128, 0.01);
                    text-align: center;
                    width: 30%;
                    cursor: pointer;
                    border-radius: .5rem;
                }
                .delete{
                    border-radius: .5rem;
                    text-align: center;
                    width: 30%;
                    cursor: pointer;
                }
            }


            .ics-wrapper{
                display: flex;
                align-items: center;
                justify-items: flex-start;
                
                .ics{
                    border-radius: .5rem;
                    text-align: center;
                    width: 80%;
                }
            }
            
            .active{
                color:green;
                background-color: rgba(0, 128, 0, 0.01);
            }
            .pending{
                color:goldenrod;
                background-color: rgba(218, 165, 32, 0.01);
            }
            .passive,
            .delete{
                color:crimson;
                background-color: rgba(220, 20, 60, 0.013);
            }

            .img-wrapper{
                display: flex;
                align-items: center;
                gap: 1rem;
    
                .imgs{
                    width: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

            }

        }
    }
}

@media(max-width:960px){
    .new{

        .new-cont{
            margin-left: 0;

        }
    }
}