
.users{
    display: flex;

    .users-cont{
        flex: 6;

        .first-cont{
            display: flex;
            flex-direction: column;
            height: 100vh;


            .top{
                display: flex;
                height: 40%;

                .left{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                     -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                    padding: 1.5em 3em;
                    justify-content: space-between;
                    margin: 1em 2em;
                    gap: 1rem;

                    .inner-top{
                        display: flex;
                        align-items: center;
                        position: relative;
                        

                        .info{
                              color: rgb(132, 128, 128);
                              font-size: 1.1rem;
                        }

                        .edit{
                              color: lightcoral;
                              position: absolute;
                              border-radius: 0 0 0 .6rem;
                              font-weight: 600;
                              padding: .5em;
                              top: -1.5rem;
                              right: -3rem;
                              background-color: rgba(240, 128, 128, 0.135);
                        }
                    }


                    .inner-bottom{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;

                        .inners{
                            display: flex;
                            gap: 1.1rem;
                            flex-direction: column;
                            
                            h2{
                                font-size: 2rem;
                            }
                            
                            div{
                                font-size: 1rem;
                                color: rgb(132, 128, 128);
    
                            }
                        }
    
                        .beauty-img{
                            height: 5rem;
                            width: auto;
                            border-radius: 50%;
                        }

                    }
                }

                .right{
                    display: flex;
                    flex: 2;
                     -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                    justify-content: space-between;
                    padding: .8em;
                    margin: 1em;
                }

            }

            .bottom{
                height: 60%;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                justify-content: space-between;
                padding: .8em;
                margin: 1em;
            }

        }
    }
}